export ARM_CLIENT_ID='3ee70d6e-YOUR-GUID-HERE-d25b81bc5f9f'
export ARM_CLIENT_SECRET='(***)'
export ARM_SUBSCRIPTION_ID='71ec678e-YOUR-GUID-HERE-7d5faf5d45d2'
export ARM_TENANT_ID='4bc82812-YOUR-GUID-HERE-1ac748ea1885'
export AZP_PAT_TOKEN='(***)'
